.body{
background-color:#f4f4f4;
color:#333;
line-height:1.6em;
margin-top:0;
font family:tahoma;
font-size:16px;
}

.container{
width:80%
margin:auto;
overflow:hidden;
}
.container h1{
text-align:center;
}

 #header1{
  background-color:#ccfb5d ;
  color:#151b54;
  font-stretch: 
}
#navbar{
background-color:#7fffd4;
color:#fff;
}
#navbar u1{
padding:0;
list-style:none;
}
#navbar li{
display:inline
}
#navbar a{
color:black;
text-decoration:none;
font-size:25px;
font-style: bold;
padding-right:15px;

}


#quote{
	background-image: url('cofbook.jpg');
	background-position: center right;
	height: 450px;
	background-repeat:repeat;
	background-size: cover;
	
	margin-bottom: 30px;
}
#quote h3{

	 font-family: URW Chancery L, cursive;
	 font-size: 35px;
	 padding-left: 30px;
	 color:#7d0552;
}
#quote p{

 font-size: 30px;
 font-style: italic;
 padding-left: 50px;
 font-family: Brush Script MT, Brush Script Std, cursive;
 color: #c12283;

}






